@model Order
<p>Vui lòng nhập thông tin chi tiết:</p>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Checkout" method="post">
    <h3>Tên</h3>
    <div class="form-group">
        <label>Họ và tên</label><input asp-for="Name" class="form-control" />
    </div>
    <h3>Địa chỉ nha`</h3>
    <div class="form-group">
        <label>Quốc Gia:</label><input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tỉnh:</label><input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label>Thành phố:</label><input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>Xã :</label><input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Tên đường:</label><input asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <label>Số nhà:</label><input asp-for="Country" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Đặt hàng" />
    </div>
</form>